pandas
matplotlib
seaborn
sklearn
#streamlit-nightly
#streamlit==1.11.0
streamlit==1.11.0
watchdog
opencv-python
wordcloud
nltk
openpyxl
streamlit-option-menu
Pillow
#protobuf==3.20.2
#tensorflow
tensorflow==2.10.0

#tensorboard==2.10.1