pandas
matplotlib
seaborn
sklearn
streamlit
#streamlit-nightly
streamlit==1.13.0
watchdog
opencv-python
wordcloud
nltk
openpyxl
streamlit-option-menu
Pillow
protobuf==3.20.2
tensorflow
#tensorboard==2.10.1